/*Master Stylesheet for objects on all pages*/
.pagehead {
    margin: auto;
    padding: 0px;
    color: white;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0px;
  padding: 0px;
}

/*Navbar*/
.Pageconfig {
    /* lightBlue will be a placeholder for future designs */
    background-color: gray;
    /* Arial font family is probably not placeholder */
    font-family: Arial;
    margin: 0px;
    padding: 0px;
}

.pageheadContainer {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr 1fr 8fr;
    grid-gap: 20px;
    background-color: black;
    padding: 25px;
}

.navBarText{
  position: relative;
  display: inline-block;
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  font-size: 30px;
  transition: color .5s;
  text-decoration: none;
}

.navBarText:hover{
  color: #cccccc;
  text-decoration: none;
}

/*NavBar Underline Animation*/

.navBarText:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: #0087ca;
  transform-origin: bottom center;
  transition: transform 0.25s ease-out;
}

.navBarText:hover:after {
  transform: scaleX(1);
  transform-origin: bottom center;
}

